<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO-EJS</title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <h1>Hello
        <% if(name){ %>
          <span class="name"><%= name %>!</span>
        <% } else { %>
          <span class="stranger">Stranger!</span>
        <% } %>
</body>
</html>